.container{
    width: 900px;
    background-color: #f7f7f7;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 543px);
    column-gap: 17px;
}
/* coluna 1 - video Destaque */
.video-destaque .imagem-destaque{
width: 543px;
height: 217px;
background-color: #c4c4c4;
}
.video-destaque .titulo-destaque{
    font-size: 18px;
    font-weight: 700;
}

/* coluna 2  */
aside .propaganda{
    background-color: #c4c4c4;
    width: 270px;
    height: 56px;
}
.videos-recomendados{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(101px,270px));
    column-gap: 10px;
    row-gap: 15px;
}
.videos-recomendados.imagem{
    width: 101px;
    height: 71px;
    background-color: #c4c4c4;
}

