body{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 900px;
    background-color: #f7f7f7;
    /* margin: 30px; */
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 543px);
    column-gap: 17px;
}
/* coluna 1 - video Destaque */
.video-destaque .imagem-destaque{
width: 543px;
height: 217px;
background-color: #c4c4c4;
text-align: center;
}
.video-destaque .titulo-destaque{
    font-size: 18px;
    font-weight: 700;
}

/* coluna 2  */
aside .propaganda{
    background-color: #c4c4c4;
    width: 270px;
    height: 56px;
    margin-bottom: 10px;
    text-align: center;
}
.videos-recomendados{
    width: 270px;
    display: grid;
    grid: 
    "imagem conteudo";
    column-gap: 10px;
    row-gap: 10px;
}
.videos-recomendados.imagem{
    width: 101px;
    height: 71px;
    background-color: #c4c4c4;
    grid-area: imagem;
    margin-bottom: 10px;
}
.videos-recomendados.conteudo {
    grid-area: conteudo;
}
.videos-recomendados.titulo,
.videos-recomendados.autor,
.videos-recomendados.visualizacoes,
.videos-recomendados.tempo-postado
{
    font-size: 12px;
}
